body, .contact-page {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.contact-page {
    padding: 40px 0;
}

.contact-wrapper {
    display: flex;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0 auto;
}

.left-panel {
    background-color: #e3184e;
    color: white;
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
}

.left-panel h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.left-panel p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.9;
    margin-bottom: 40px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.info-item svg {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    flex-shrink: 0;
    color: inherit;
}

.info-content h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.info-content span {
    font-size: 14px;
    opacity: 0.9;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.social-icon:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.right-panel {
    flex: 1.3;
    padding: 50px;
    background-color: white;
    min-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    font-weight: 600;
    color: #4b5563;
    margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
    padding: 15px;
    border: 1px solid #e5e7eb;
    background-color: #f9fafb;
    border-radius: 8px;
    font-size: 14px;
    color: #374151;
    outline: none;
    transition: 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #2563eb;
    background-color: #fff;
}

.form-group textarea {
    resize: vertical;
    height: 120px;
}

.btn-submit {
    background-color: #e3184e;;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #710f29;
}

@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .left-panel {
        padding: 30px;
    }

    .right-panel {
        padding: 30px;
    }
}
